<manifest package="com.rainnka.ZHNews"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:maxSdkVersion="24"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".Application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ViewLayer.Activity.HomeAty"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme">

            <intent-filter>
                <action android:name="android.intent.action.Home"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.NewsAty"
            android:screenOrientation="portrait"
            android:theme="@style/NewsTheme">

            <intent-filter>
                <action android:name="android.intent.action.NewsActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.Star_History_PraiseAty"
            android:screenOrientation="portrait"
            android:theme="@style/SHPTheme">

            <intent-filter>
                <action android:name="android.intent.action.Star_History_Praise"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.LoginAty"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.Login"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.ProfilePageAty"
            android:screenOrientation="portrait"
            android:theme="@style/ProfilePageTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.ProfilePage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.NotificationAty"
            android:screenOrientation="portrait"
            android:theme="@style/NotificationPageTheme">
            <intent-filter>
                <action android:name="android.intent.action.NotificationPage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.FeedbackAty"
            android:screenOrientation="portrait"
            android:theme="@style/FeedbackPageTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.FeedbackPage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.AboutAty"
            android:screenOrientation="portrait"
            android:theme="@style/AboutPageTheme">
            <intent-filter>
                <action android:name="android.intent.action.AboutPage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.Setting_DetailAty"
            android:screenOrientation="portrait"
            android:theme="@style/SettingDetailPageTheme">
            <intent-filter>
                <action android:name="android.intent.action.Setting_Detail"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.CommentsAty"
            android:theme="@style/CommentsPageTheme">
            <intent-filter>
                <action android:name="android.intent.action.Comments"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.HotNewsAty"
            android:theme="@style/HotNewsTheme">
            <intent-filter>
                <action android:name="android.intent.action.HotNews"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.NewsCategoryAty"
            android:theme="@style/NewsCategoryTheme">

            <intent-filter>
                <action android:name="android.intent.action.NewsCategory"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewLayer.Activity.WelcomeAty"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <service android:name=".Service.InitNotiRecService">

        </service>

    </application>

</manifest>
